import tools/autoconf.rc
build:cuda --define=using_cuda=true --define=using_cuda_nvcc=true

# default conf. for linux-cuda
build:cuda --crosstool_top=@local_config_cuda//crosstool:toolchain
build:cuda --action_env TF_NEED_CUDA=1
build:cuda --action_env TF_CUDA_VERSION=9.0
build:cuda --action_env CUDA_TOOLKIT_PATH=/usr/local/cuda
# http://docs.nvidia.com/cuda/cuda-c-programming-guide/index.html#compute-capabilities
build:cuda --action_env TF_CUDA_COMPUTE_CAPABILITIES=3.5,5.2
build:cuda --action_env TF_CUDNN_VERSION=7
build:cuda --action_env CUDNN_INSTALL_PATH=/usr/local/cuda
build:cuda --action_env GCC_HOST_COMPILER_PATH=/usr/bin/gcc

# You can override above settings in local.rc.
import tools/local.rc
